name: CI 
on: [push] 
jobs: 
  build: 
   runs-on: ubuntu-latest 
   steps: 
   - uses: actions/checkout@v4
   
   - name: Run make4ht 
     uses: docker://ghcr.io/michal-h21/make4ht-action:latest 
     env: 
       command: "cd research && mkdir -p out && make4ht -u -d out paper.tex" 
       
   - name: Publish the web pages 
     uses: peaceiris/actions-gh-pages@v3 
     with: 
       github_token: ${{ secrets.TOKEN }} 
       publish_dir: ./research/out
